#article-block
  h2.title !{article.title}
  .tags
    each tag in article.tag
      a(href="/tag/#{tag}.html") !{tag}
  .article-content !{article.content}

  // duoshuo
  .ds-thread(data-thread-key="#{article.index}" data-title="#{article.title}" data-url="http://home.lovecall.moe#{article.url}")
  script.
    var duoshuoQuery = {short_name:"lovecall"};
      (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
         || document.getElementsByTagName('body')[0]).appendChild(ds);
      })();
